import { View } from '@tarojs/components'
// import './index.less'

/**
 * ${pascalName} 组件
 */
export default function ${pascalName}() {
  return (
    <View className="${kebabName}">
      {/* ${pascalName} 组件 */}
    </View>
  )
}
