<template>
  <div class="${kebabName}">
    <!-- ${pascalName} 页面 -->
  </div>
</template>

<script setup lang="ts">
// ${pascalName} 页面
</script>

<style lang="scss" scoped>
.${kebabName} {
  // 页面样式
}
</style>

