<template>
  <div class="${kebabName}">
    <!-- ${pascalName} 页面 -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: '${pascalName}',
  setup() {
    // 页面逻辑
    return {}
  }
})
</script>

<style lang="scss" scoped>
.${kebabName} {
  // 页面样式
}
</style>

